/* 中央揃えのスタイル */
.center-text {
    text-align: center;
}

/* 左揃えのスタイル (デフォルトですが、明示的に定義) */
.left-text {
    text-align: left;
}
/* このクラスを適用すると下線が引かれます */
.underline-text {
    text-decoration: underline;

}

/* 補足: リンク（<a>タグ）のデフォルトの下線を消したい場合 */
a {
    text-decoration: none;
}
/* クラス名 "news-item" の要素全体に適用 */
.news-item {
    border: 100px solid #ccc;
    padding: 100px;
    margin-bottom: 10px;
}
