

}

/* 補足: リンク（<a>タグ）のデフォルトの下線を消したい場合 */
a {
    text-decoration: none;
}
/* クラス名 "news-item" の要素全体に適用 */
.news-item {
    border: 100px solid #ccc;
    padding: 100px;
    margin-bottom: 10px;
}
.address {
    border: 100px solid #ccc;
    padding: 100px;
    margin-bottom: 10px;
}
/* タイプセレクター：h2 */
h2 {
    /* 例：文字の色を青にする */
    color: blue;
    
    /* 例：下線を追加する */
    border-bottom: 2px solid blue;
    
    /* 例：文字サイズを大きくする */
    font-size: 24px;
    display: inline-block;
}
h1 {
    color: black;
    border-bottom: 2px solid yellow;
    font-size: 36px;
    display: inline-block;
}
.center {
    text-align: center;
}
